 
/*Create a `stylesheet.css` file and source it into the HTML file.
Give the `header` a dark background color and choose a light  color for the text.
Center the text in the `header`.
Give the `main` a light grey background color.
Look up the CSS `background-image` property to learn how to use the provided `record.png` as the background image on your page with a relative path.
Look up CSS `background-repeat` to learn how to fill the body of the page with a repeating */

/*Look up CSS `margin` and `padding`. 
  Give the `body` a margin of `0`. (This removes the whitespace around the edges of the page.) 
  Give the `main` padding of `1em`. (Curious about `em`? Look up CSS units.) */

header {
    background-color: darkblue;
    color: white;
    text-align: center;  
}

main {
    background-color: lightgray;
    padding: 1em;
    
}

body {
    background-image: url('record.png');
    background-repeat: repeat; 
    margin: 0;
}

